@font-face {
  font-family: "agency";
  src: url('assets/agency.ttf');
}

*, *::after, *::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	user-select: none;
	font-family: agency;
	font-size: 1rem;
}

#app{
	width: 100%;
	height: 100%;
	position: relative;
}
